<section class="mt-5 mb-5 my-5">

  <div class="container">
  
    <h4 class="text-center"><i class="fas fa-comment-medical mr-2 "></i>Hỏi bác sĩ</h4>
    <hr>



<div class="my-3 p-3 bg-white borderradius20 border shadow-sm">

  {% for ask in asks %}

  <!-- ask -->
  <a href="{% url 'ask' ask.id %}" class="text-reset text-decoration-none">
    <div class="media text-muted pt-3">

      {% if ask.user.userprofile.avatar %}

      <img src="/media/{{ ask.user.userprofile.avatar }}" alt="" style="width: 30px;" class="mr-2 rounded">
      {% else %}
      <img src="/media/imgs/noavatar.jpg" alt="" style="width: 30px;" class="mr-2 rounded">

      
      {% endif %}


      <p class="media-body pb-3 mb-0 small lh-125 border-gray">
        <strong class="d-block text-gray-dark">@
       {% if ask.user.userprofile.name %}
            {{ask.user.userprofile.name}} 
            {% else %}
            {{ ask.user.username}}
          {% endif %}
        </strong>
       
        {{ask.ask}}
     
      </p>
    
    </div>
  </a>
    <!-- end ask -->


    {% if forloop.last %} {% else %}<hr> {% endif %}
    

    {% endfor %}


  </div>



 
  <div class="text-center mt-4">
    <a href="#"  class="btn btn-outline-dark w-50  shadow-sm borderradius10"> Xem tất cả <i class="fas fa-arrow-right ml-2"></i></a>
   </div>
   


 
  </div>
</section>