 
 <script>
   var doctors = [
   ]

   {% for i in doctor_names %}
   doctors.push('{{i}}')
   {% endfor %}
   
  $( function() {
    $( "#searchform" ).autocomplete({
      source: doctors,
      select: function( event, ui ) { 
            window.location.href = 'search/' + ui.item.value;
        }

    });
  } );
  </script>


  


<section class="mt-5">
    <div class="container">
        <div class="jumbotron shadow-sm borderradius15">
            <h2>Tra Cứu <span class="text-success"> Bác Sĩ</span> </h2>
            <p class="lead">Ứng dụng xem thông tin bác sĩ. Đặt lịch khám trực tuyến</p>
           
  
            <a class="btn btn-success " href="{% url 'bookappointmenthome'%}" role="button"><i class="far fa-calendar-check mr-2"></i> Đăng Ký Khám</a>
            <hr>

          <p class="text-muted text-center mb-2 mt-4"> <small >Tìm kiếm theo tên bác sĩ hoặc chuyên khoa.</small> </p>  

  
            <div class="input-group ">
                <div class="input-group-prepend">
                    <div class="input-group-text borderradius20 bg-white border-right-0"><i class="fas fa-search"></i></div>
                </div>
                <input id="searchform" type="search" class="form-control borderradius20 border-left-0" >
           
            </div>


    
            <div class="px-2 mt-3 text-muted">
            <p>Tìm nhiều: <a href="#">nguyễn thị hương</a>, <a href="#">nguyễn văn khanh</a>, <a href="#">đục thuỷ tinh thể</a>, <a href="#">sinh mổ</a>, <a href="#">châm cứu</a></p>
    
            </div>
    
    
          </div>
    </div>
  </section>
  