 
 <script>
   var doctors = [
   ]

   {% for i in doctor_names %}
   doctors.push('{{i}}')
   {% endfor %}
   
  $( function() {
    $( "#searchform" ).autocomplete({
      source: doctors,
      select: function( event, ui ) { 
            window.location.href = 'search/' + ui.item.value;
        }

    });
  } );
  </script>


  


<section class="py-4 bg-light">
    <div class="container">
        <div class="jumbotron shadow-sm borderradius15 border m-0">
            <h2>Tra Cứu <span class="text-success"> Bác Sĩ</span> </h2>
            <p class="lead">Ứng dụng xem thông tin bác sĩ. Đặt lịch khám trực tuyến</p>
           
            {% if request.user.is_authenticated %}
  
            <a class="btn btn-success " href="{% url 'bookappointmenthome'%}" role="button" ><i class="far fa-calendar-check mr-2"></i> Đăng Ký Khám</a>
            {% else %}

            <!-- Button trigger modal -->
<button type="button " class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
  <i class="far fa-calendar-check mr-2"></i> Đăng Ký Khám
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ">
      <div class="modal-header bg-danger">
        <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn cần đăng nhập để đăng ký khám
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal"><i class="fas fa-times mr-2"></i>Huỷ</button>
        <a href="{% url 'login' %}"  class="btn btn-outline-dark">Đăng Nhập</a>
        <a href="{% url 'register' %}"  class="btn btn-success">Đăng Ký</a>
      </div>
    </div>
  </div>
</div>

            {% endif %}



  
            <div class="input-group mt-4">
                <div class="input-group-prepend">
                    <div class="input-group-text borderradius20 bg-white border-right-0"><i class="fas fa-search"></i></div>
                </div>
                <input id="searchform" type="search" class="form-control borderradius20 border-left-0" >
           
            </div>


    
            <div class="px-2 mt-3 text-muted">
              <small id="searchform" class="form-text text-muted">Tìm kiếm theo tên bác sĩ.</small>
       

            <!-- <p>Tìm nhiều: <a href="#">nguyễn thị hương</a>, <a href="#">nguyễn văn khanh</a>, <a href="#">đục thuỷ tinh thể</a>, <a href="#">sinh mổ</a>, <a href="#">châm cứu</a></p> -->
    
            </div>
    
    
          </div>
    </div>
  </section>
  