




<section class="mt-5 mb-5">

  <div class="container">



  <h4 class="text-center"><i class="fas fa-user-md mr-2"></i> Bác Sĩ</h4>
 <hr>
   
  
    
    {% load static %}


   
  
    {% for doctor in top_doctors_list %}

   

    <!-- bác sĩ -->

 

<a href="/doctor/{{ doctor.id }}" class="text-decoration-none text-reset">
    <div class="card border  shadow-sm  borderradius15 py-0 mb-3 mt-4" >
      <div class="row no-gutters  py-3">
        <div class="col-4 col-md-1 d-flex  align-items-center px-2 ">
         
          <img src="/media/{{ doctor.avatar}}" class="card-img rounded-circle" alt=" Nguyễn Hữu Hiếu">
        </div>
        <div class="col-8  col-md-11 ">
          <div class="card-body py-0  pl-1 pr-2  ">
     
            <h5 class="card-title m-0">{{ doctor.name }}
             </h5>
             <small class="text-muted"><i class="fas fa-graduation-cap mr-1"></i>
              {% for i in top_doctors_education %}

             {% if i.doctor_id == doctor.id %}

             {{ i.title }}
             {% endif %}




              {% endfor %}
            </small>
             
             

             <hr class=" mt-2 mb-1 ">
         
<span class="text-muted "> <i class="far fa-star"></i>

  {{ doctor.highlight }}


  
  </span>
        </div>
        </div>

        
      </div>

    </div>
  </a>

 
   <!-- end bác sĩ -->

   {% endfor %}
   
   
   <div class="text-center mt-4">
 <a href="#"  class="btn btn-outline-dark w-50  shadow-sm borderradius10"> Xem tất cả <i class="fas fa-arrow-right ml-2"></i></a>
</div>




</div>
   

</section>


