




<section class="py-5 bg-light">

  <div class="container">



  <h4 class="text-center"><i class="fas fa-user-md mr-2 "></i>Bác Sĩ nổi bật</h4>
 <hr>
   
  
    
    {% load static %}


   
  
    {% for doctor in top_doctors_list %}
{% include 'includes/doctor.html' %}
   



 
   <!-- end bác sĩ -->

   {% endfor %}
   
   
   <div class="text-center mt-4">
 <a href="{% url 'alldoctors' %}"  class="btn btn-outline-dark w-50  shadow-sm  "> Xem tất cả <i class="fas fa-arrow-right ml-2"></i></a>
</div>




</div>
   

</section>


