
{% load static %}

<section class="{% if page_title == 'Home' %} pt-5 {% else %} pt-4{% endif %} pb-5 bg-light ">
  

    <div class="container">
  
        <h4 class="text-center"><i class="fas fa-clinic-medical mr-2"></i>Các chuyên khoa</h4>
        <hr>
   
      <div class="row no-gutters text-center">
          

        {% for department in top_departments_list %}

  
  <div class="col-6 p-2 ">
    <a href="{% url 'department' department.id %}" class="text-reset text-decoration-none">
          
    <div class="card  shadow-sm borderradius10 " >
    <img src="/media/{{ department.avatar }}" class="card-img-top  bordertopradius10" alt="...">
    <div class="card-body p-0 py-2">
      <p class="card-text font-weight-bold">{{ department.name }}</p>
  
    </div>
  </div>
</a>
  
  </div>

  {% endfor %}
  
  
 

      </div>

{% if page_title == 'Tất cả chuyên khoa' %}
{% else %}

    
      <div class="text-center mt-4">
        <a href="{% url 'alldepartments' %}"  class="btn btn-outline-dark w-50  shadow-sm "> Xem tất cả <i class="fas fa-arrow-right ml-2"></i></a>
       </div>
       {% endif %}
       
 
    </div>
  

  </section>
  