{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container mt-4">



  <div class="user_profile_cap">

    <div class="user_profile_cover">
      <img src="{% static 'finddoctor/imgs/bg_doctor.png' %}" alt="img" class="img-fluid bordertopradius10 "/>
    </div>

    <div class="user_profile_headline">
        <img src="https://thumbs.dreamstime.com/b/woman-doctor-square-22962653.jpg" alt="img" class="rounded-circle shadow-sm border ml-2"/> 
        

        <h5>Nguyễn Hữu Hiếu tên dài
          <small class="text-muted">Bác sĩ sdfs sdfdsf sfsd fsf sdfsd sdfsdf sfsfsd</small> </h5>
    </div>

  </div>










    <ul class="nav nav-tabs nav-fill  mt-3 mb-3" id="pills-tab" role="tablist">
        <li class="nav-item " role="presentation">
          <a class="nav-link active " id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Thông tin</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Đánh giá</a>
        </li>
        
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Liên hệ</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">

        <div class="tab-pane fade show active pt-4" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">






          <div class="card borderradius15 shadow-sm" >
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       
            </div>
          </div>



        </div>


        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
      </div>


</div>






{% endblock %}