<section class=" bg-dark">
    <div class="container  py-5  text-secondary">

        <div class="row justify-content-center">
            <div class=" col-12">
    
         <p>
           
          <a href="/about" class="text-white-50">Tra Cứu <span class="text-success">Bác Sĩ</span> </a>
          is a project created and maintained by  <a href="http://davidmiller.io" class="text-white-50">  Nguyễn Hữu Hiếu</a> with <i class="fas fa-heart text-danger" aria-hidden="true"></i>
       
         </p>
<p>
<!--   
  Based on  <a href="https://getbootstrap.com " class="text-white-50">  Django</a> and
  <a href="https://getbootstrap.com" class="text-white-50">Bootstrap.</a>

          Hosted by  <a href="https://getbootstrap.com " class="text-white-50">Heroku.</a>
       Source Code available on  <a href="https://getbootstrap.com " class="text-white-50">GitHub.</a> -->

        <hr>
        <ul class="list-group list-group-horizontal ">
          <a href="#" class="list-group-item py-2 px-0 bg-dark pr-3 border-0 text-success"><small>About</small>  </a>
          <a href="#" class="list-group-item py-2  px-0 bg-dark pr-3 border-0 text-success"><small>Terms of Service</small>  </a>
          <a href="#" class="list-group-item py-2  px-0 bg-dark border-0 text-success"><small>Help to improve this page</small>  </a>
        </ul>

         <p > <small> The content of this site is licensed under the <a href="https://creativecommons.org/licenses/by/3.0/" class="text-white-50">Creative Commons Attribution 3.0 Unported License.</a> </small></p>

        </div>
    </div>

    

  </div>
</section>
