{% include 'includes/headlogin.html' %}


  
<h1>
    {% for i in username2 %}
    {{ i }}
    {% endfor %}
 
</h1>
  <body >
    <form class="form-signin "  method='POST' >
        {% csrf_token %}

        {% load static %}
        <div class="text-center">
        <a href="/">
  <img class="mb-2" src="{% static 'finddoctor/imgs/logo.png' %}" alt="" width="100">
</a>

  <h5 class=" mb-3 font-weight-light">Đăng ký tài khoản  <span class="font-weight-normal">Tra Cứu <span class="text-success">Bác Sĩ</span></span> </h5>
</div>
  <hr class="border-success">

  <p>Số điện thoại</p>
  <div class="input-group mb-2 ">
 


    <input type="number" class="form-control border-success border-right-0 " id="inlineFormInputGroup" placeholder="Số điện thoại" name='phone'> 
    <div class="input-group-append ">
      <div class="input-group-text border-success text-danger bg-white " id='check'><i class="fas fa-times"></i></div>
    </div>
  </div>


<div class="form-group">
  <label for="exampleInputPassword1" class="mt-2">Mật khẩu</label>
  <input type="password" class="form-control border-success" id="exampleInputPassword1" name='password'>
</div>

<p class = "text-danger" id='checkuser'><i class="fas fa-user-times mr-2 "></i> Tài khoản không hợp lệ</p>


  


  <div id='buttonsubmit'>

  <button class="btn btn-success btn-block shadow-sm" type="submit" disabled>Đăng ký</button>



  </div>



  <div class="border rounded mt-4 py-3 shadow-sm text-center border-success">
    <p class="m-0">Bạn đã có tài khoản? <a href="/login/">Đăng nhập.</a></p>
</div>



  <p class="mt-5 mb-3 text-muted text-center">Trung Tâm Y Tế Anh Sơn &copy; 2020</p>
</form>

</body>

<script>
  var alluser = [
     ]
     {% for i in allusername %}
     alluser.push('{{i}}')
     {% endfor %}
    $("#inlineFormInputGroup").on("change keyup paste", function(){
      var x = document.getElementById('inlineFormInputGroup').value
      var n = alluser.includes(x);
      if (n == true || x.length < 9 ){
        document.getElementById('check').innerHTML= '<i class="fas fa-times text-danger"></i>'
        document.getElementById('buttonsubmit').innerHTML= '<button class="btn btn-success btn-block shadow-sm" type="submit" disabled>Đăng ký</button>'
        document.getElementById('checkuser').innerHTML= '<span class = "text-danger"> <i class="fas fa-user-times mr-2 "></i> Tài khoản không hợp lệ </span>'
      }
      else{

        document.getElementById('check').innerHTML= '<i class="fas fa-check text-success"></i>'
        document.getElementById('checkuser').innerHTML= '<span class = "text-success"> <i class="fas fa-user-check mr-2 "></i> Tài khoản hợp lệ </span>'
        document.getElementById('buttonsubmit').innerHTML= '<button class="btn btn-success btn-block shadow-sm" type="submit" >Đăng ký</button>'
      }
  })
  </script>

  
</html>

