{% extends 'base.html' %}

{% block content %}



<section class="px-3 mt-5">
   
    <h5>Kết quả tìm kiếm cho: {{ search_key }}</h5>
    <hr>

    
    {% load static %}
   
    {% for doctor in doctors %}
    <!-- bác sĩ -->

 

<a href="/doctor/{{ doctor.id }}" class="text-decoration-none text-reset">
    <div class="card border  shadow-sm  borderradius15 py-0 mb-3 mt-4" >
      <div class="row no-gutters  py-3">
        <div class="col-4 d-flex  align-items-center px-2 ">
         
          <img src="/media/{{ doctor.avatar}}" class="card-img rounded-circle" alt=" Nguyễn Hữu Hiếu">
        </div>
        <div class="col-8  ">
          <div class="card-body py-0  pl-1 pr-2  ">
     
            <h5 class="card-title m-0">{{ doctor.name }}
             </h5>
             <small class="text-muted"><i class="fas fa-graduation-cap mr-1"></i>Bác Sĩ Chuyên Khoa 1</small>
             
             

             <hr class=" mt-2 mb-1 ">
         
<span class="text-muted "> <i class="far fa-clock mr-1"></i>10 năm điều trị ngoại khoa</span>
        </div>
        </div>

        
      </div>

    </div>
  </a>

 
   <!-- end bác sĩ -->

   {% endfor %}
   
   
   <div class="text-center mt-4">
    <a href="#"  class="btn btn-outline-dark w-50  shadow-sm borderradius10"> Xem tất cả <i class="fas fa-arrow-right ml-2"></i></a>
   </div>
   




   

</section>




{% endblock %}