<section class="mt-5">
  
    <div class=" rainbow p-0 py-5 p-lg-5 mt-5">
 
    
       <div class="container text-center">
       <div class="row justify-content-center">
       <div class="col-lg-8">
       <p class="text-white">Đăng ký nhận thông báo mới trên Tra Cứu Bác Sĩ</p>
 
       <form role="form" >
       <div class="input-group ">
       <input type="email" name="email" class="form-control border-0" placeholder="Email của bạn">
       <div class="input-group-append">
       <button type="submit" name="subscribe"class="btn btn-light">Theo dõi!</button>
       </div>
       </div>
     
       </form>
    
       <div class="text-center mt-4">
       <p class="text-white mb-4">hoặc kết nối với chúng tôi trên Facebook</p>
       <a href="https://www.facebook.com/trungtamyteanhson/" class="btn btn-primary btn-xl shadow"><i class="fab fa-facebook-f mr-2"></i> @trungtamyteanhson</a>
       </div>
       </div>
       </div>
     </div>
       </div>
 
 
   </section>
 