{% load static %}


{% if page_navbar == 'green' %}

<nav class="navbar  navbar-dark bg-success shadow-sm py-0 py-md-2 sticky-top">
  {% if doctor %}
  <a class="navbar-brand " href="{% url 'doctor' doctor.id %}" >

  {% else %}


  <a class="navbar-brand " href="{% url 'home' %}">
    {% endif %}
    <i class="fas fa-arrow-left mr-2"></i> Quay lại 
  </a>



  

  {% include 'includes/usernavbar.html' %}


  

  <!-- <button class="btn btn-outline-light py-1 "><i class="fas fa-user-nurse mr-3"></i>Hỗ trợ</button> -->
</nav>

{% else %}
      <nav class="navbar  navbar-light bg-light shadow-sm  py-0 py-md-2 sticky-top d-flex justify-content-between">


          <button class="navbar-toggler border-0 p-0 m-0 " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <i class="fas fa-bars"></i> -->
            <span class="navbar-toggler-icon m-0 p-0"></span>
          </button>


          <a class=" m-0 p-0" href="/">
            <img src="{% static 'finddoctor/imgs/logotext.png' %}" class="navbarlogo    m-0 p-0  " alt="">
            <!-- <small>anhson<span class="text-success">med</span>.com  </small> -->
             
           
        
        </a>
  


    {% include 'includes/usernavbar.html' %}

      
   


    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item  {%if  request.resolver_match.view_name == 'home' %} active {% endif %}">
              <a class="nav-link" href="{% url 'home' %}">Trang chủ  </a>
            </li>

            <li class="nav-item  {%if  request.resolver_match.view_name == 'alldoctors' %} active {% endif %}">
              <a class="nav-link " href="{% url 'alldoctors' %}">Bác sĩ </a>
            </li>

            <li class="nav-item  {%if  request.resolver_match.view_name == 'alldepartments' %} active {% endif %}">
              <a class="nav-link " href="{% url 'alldepartments' %}">Chuyên khoa </a>
            </li>
            <li class="nav-item  {%if  request.resolver_match.view_name == 'allasks' %} active {% endif %}">
              <a class="nav-link " href="{% url 'allasks' %}">Hỏi bác sĩ </a>
            </li>

          </ul>
        </div>
      </nav>
      
      {% endif %}