{% if request.user.is_authenticated %}
<div class="navbar-text  px-0 py-2">






<div class="btn-group">

  <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

    {% if user.userprofile.avatar %}
    <img src="/media/{{ user.userprofile.avatar }}" alt="" class="img-fluid rounded-circle" style="width: 35px;">
    {% else %}
    <img src="/media/imgs/noavatar.jpg" alt="" class="img-fluid rounded-circle shadow-sm" style="width: 35px;">


    {% endif %}


  </a>
  <div class="dropdown-menu dropdown-menu-right">
    <button class="dropdown-item" type="button">Action</button>
    <span class="dropdown-item" type="button">Xin chào {{ user.username }}</span>
    <div class="dropdown-divider"></div>
    <a href='/logout' class="dropdown-item text-dark"  ><i class="fas fa-user-edit mr-2"></i>Sửa thông tin</a>
    <a href='/logout' class="dropdown-item  text-dark"  ><i class="fas fa-sign-out-alt mr-2"></i>Đăng xuất</a>
  </div>
</div>

</div>


{% else %}
  <a href="{% url 'login' %}" class="btn btn-outline-success btn-sm my-2">Đăng nhập</a>


{% endif %}
