<div class="text-center">
    <img src="/media/{{ doctor.avatar }}" alt="" class="rounded-circle img-fluid w-75 border shadow" style="max-width: 300px;">

    <h5 class="mt-4">{{doctor.name}}
      <br>
      <small class="text-muted"> {{ doctor.highlight }}</small>
    </h5>
      <hr class="w-50">
      {% if countappointmentdone %}

      <p class="text-success mb-2"><i class="fas fa-calendar-check mr-2"></i> {{countappointmentdone}} đăng ký khám thành công</p>
      {% endif %}
  <small class="text-warning">
    
    {% include 'includes/stars.html' %}
 

      
      <a href=#allcomments class="text-muted">(Xem {{ allcomments }} đánh giá)</a>

     

      </small>
  
   


  
    <div class="d-flex justify-content-between pt-3 pb-1 ">



      {% if request.user.is_authenticated %}
  
      <a href="{% url 'bookappointment' doctor.id %}" class="btn btn-success"><i class="far fa-calendar-check mr-2"></i>Đăng Ký Khám</a> 

      {% else %}

      <!-- Button trigger modal -->
<button type="button " class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
<i class="far fa-calendar-check mr-2"></i> Đăng Ký Khám
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content ">
<div class="modal-header bg-danger">
  <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Bạn cần đăng nhập để đăng ký khám
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" data-dismiss="modal"><i class="fas fa-times mr-2"></i>Huỷ</button>
  <a href="{% url 'login' %}"  class="btn btn-outline-dark">Đăng Nhập</a>
  <a href="{% url 'login' %}"  class="btn btn-success">Đăng Ký</a>
</div>
</div>
</div>
</div>

      {% endif %}



     


  
      <div>
        <a href="tel: {{ doctor.phone }}" class="btn btn-light bg-jumbotron border-0 mr-2">
<i class="fas fa-phone"></i>
      </a>


        <a href="https://api.qrserver.com/v1/create-qr-code/?size=200x200&data={{ request.build_absolute_uri }}" class="btn btn-light bg-jumbotron border-0 mr-2">
          <i class="fas fa-qrcode"></i>
      </a>


      </div>
     
    </div>

  </div>



  <hr>

  {% if speciallist %}
  {% for special in speciallist %}

  <div class="row mb-2">
    <div class="col-1">
      <i class="fas fa-stethoscope"></i></div>
    <div class="col-11"> {{ special.title }}
    </div>
  </div>

  {% endfor %}

  {% endif %}


  {% if manager %}
  {% for i in manager %}

  <div class="row mb-2 ">
    <div class="col-1">
      <i class="fas fa-clinic-medical"></i></div>
    <div class="col-11">{{ i.role }} tại <a href="#" > {{ i.department }}</a>
    </div>
  </div>

  {% endfor %}

  {% endif %}

  {% for education in educations %}

  <div class="row mb-2">
    <div class="col-1">  <i class="fas fa-graduation-cap"></i></div>
    <div class="col-11">{{ education.title|title }} {% if education.certified_by %}tại <a href="/university/{{ education.certified_by}}" >{{ education.certified_by|title }}</a> {% endif %}  {% if education.certified_date.year %}vào năm {{ education.certified_date.year}} {% endif %}
    </div>
  </div>


  {% endfor %}