{% if request.user.is_authenticated %}
<div class="navbar-text  px-0 py-2">






<div class="btn-group">

  <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

    {% if user.userprofile.avatar %}
    <img src="/media/{{ user.userprofile.avatar }}" alt="" class="img-fluid rounded-circle" style="width: 35px; height: 35px;">
    {% else %}
    <img src="/media/imgs/noavatar.jpg" alt="" class="img-fluid rounded-circle shadow-sm" style="width: 35px;">


    {% endif %}


  </a>
  <div class="dropdown-menu dropdown-menu-right">
    <span class="dropdown-item">Xin chào {{ user.username }}</span>
    <div class="dropdown-divider"></div>
    <a href='{% url "appointment" %}' class="dropdown-item text-dark"  ><i class="far fa-calendar-check  " style="width: 30px;"></i>Lịch khám</a>

    <a href='{% url "mycomment" %}' class="dropdown-item text-dark"  ><i class="fas fa-poll  " style="width: 30px;"></i>Đánh giá</a>

    <a href='{% url "profile"%}' class="dropdown-item text-dark"  ><i class="fas fa-user-edit " style="width: 30px;"></i>Sửa thông tin</a>


    <a href='/logout' class="dropdown-item  text-dark"  ><i class="fas fa-sign-out-alt " style="width: 30px;"></i>Đăng xuất</a>
  </div>
</div>

</div>


{% else %}
  <a href="{% url 'login' %}" class="btn btn-outline-success btn-sm my-2">Đăng nhập</a>


{% endif %}
