<!-- Button trigger modal -->
<button type="button" class="btn btn-success w-100" data-toggle="modal" data-target="#exampleModal">
    <i class="fas fa-pen-alt mr-2 "></i>Viết đánh giá
  </button>
  
  {% if request.user.is_authenticated %}
  <!-- Modal -->
  <div class="modal  fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content  ">
        <div class="modal-header bg-success">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-pen-alt mr-2 "></i>Viết đánh giá</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
  
          <div class="card border  shadow-sm  borderradius15 py-0 mb-3 mt-4" >
            <div class="row no-gutters  py-3">
              <div class="col-4 col-md-1 d-flex  align-items-center px-2 ">
               
                <img src="/media/{{ doctor.avatar}}" class="card-img rounded-circle" alt=" Nguyễn Hữu Hiếu">
              </div>
              <div class="col-8  col-md-11 ">
                <div class="card-body py-0  pl-1 pr-2  ">
           
                  <h5 class="card-title m-0">{{ doctor.name }}
                   </h5>
                   
      
                   <hr class=" mt-2 mb-1 ">
               
      <span class="text-muted ">
      
        {{ doctor.highlight }}
      
      
        
        </span>
              </div>
              </div>
      
              
            </div>
      
          </div>
    <p class="text-center mt-3 text-muted">Đánh giá dựa trên thang điểm 5.</p>
  
    <!-- starvote -->
    <form id="voting"  method="POST" class="was-validated">	
      {% csrf_token %}
      <div class="text-warning text-center">
      <input type="radio" name="points" value="1" id="p-1"  onclick="document.getElementById('comment').innerHTML='Rất không hài lòng'"/>
      <label for="p-1"><i class="fa fa-star-o fa-2x"></i></label>
      
      <input type="radio" name="points" value="2" id="p-2" onclick="document.getElementById('comment').innerHTML='Không hài lòng'" />
      <label for="p-2"><i class="fa fa-star-o fa-2x"></i></label>
      
      <input type="radio" name="points" value="3" id="p-3" onclick="document.getElementById('comment').innerHTML='Bình thường'" />
      <label for="p-3"><i class="fa fa-star-o fa-2x"></i></label>
      
      <input type="radio" name="points" value="4" id="p-4" onclick="document.getElementById('comment').innerHTML='Hài lòng'" />
      <label for="p-4"><i class="fa fa-star-o fa-2x"></i></label>
      
      <input type="radio" name="points" value="5" id="p-5" onclick="document.getElementById('comment').innerHTML='Cực kì hài lòng'" />
      <label for="p-5"><i class="fa fa-star-o fa-2x"></i></label>
    </div> 
  
  
    <script>
      $(document).ready(function(){
  
  $("#p-3")[0].click();
  
  });  
      $('#voting input[name=points]').change(function() {
  
      $(this).parent().children('label').each(function(key, val) {
  
          $(val).find('i').removeClass('fa-star').addClass('fa-star-o');
      });
      $(this).children('label i').removeClass('fa-star').addClass('fa-star-o');
      $(this).find('+ label i').removeClass('fa-star-o').addClass('fa-star');
      $(this).prevAll().find('+ label i').removeClass('fa-star-o').addClass('fa-star');
  });
    </script>
    <!-- starvote -->
  
    <h5 id='comment' class="text-center mt-3">Đánh giá của bạn</h5>
  <hr>
  
  <div class="mb-3">
    <textarea class="form-control is-valid" id="validationTextarea" placeholder="Viết nhận xét của bạn" required rows="5" ></textarea>
    <div class="invalid-feedback">
      Phần này không được để trống
    </div>
  
  </div>
  
  
  
        
  
  
  
  <div class="text-right">
    <button type="button" class="btn btn-outline-dark mt-4 mr-2" data-dismiss="modal"><i class="fas fa-times mr-2"></i>Huỷ</button>
    
    <button type="submit" class="btn btn-success  mt-4"><i class="fas fa-paper-plane mr-2"></i>Gửi đánh giá</button>
  </div>
      
      </form>
  
  
          
  
  
        </div>
  
      </div>
    </div>
  </div>
  {% else %}
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content ">
        <div class="modal-header bg-danger">
          <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Bạn cần đăng nhập để đăng ký khám
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Đóng</button>
          <a href="{% url 'login' %}"  class="btn btn-outline-dark">Đăng Nhập</a>
          <a href="{% url 'login' %}"  class="btn btn-success">Đăng Ký</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}